<h1>Aqui se debe ver la vista de administrador</h1>

<%= link_to 'Editar datos de usuario', edit_user_registration_path, :class => 'btn btn-warning' %>
<%= link_to 'Agregar establecimiento', root_path, :class => 'btn btn-warning' %>