<header>
	<div class="container">
		<div class="intro-text">
			<div class="intro-medium">Bienvenidos a POS-App</div>
			<div class="intro-large">El primer sistema POS Online para restaurantes</div>
			<div class="intro-medium" id="submedium">Lleva siempre contigo la informacion de tu negocio</div>
			<%= link_to 'Registrate YA!', new_user_registration_path, class: 'btn btn-warning btn-lg'%>
		</div>
	</div>
</header>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="service-large"><strong>¿Que es POS App?</strong></h2>
				<h3 class="service-small">POS-App es el primer SISTEMA POS-ONLINE para tu restaurante o negocio. POS-App te permitira tener el control de tu inventario, menu, ventas, balances e informacion financiera, puedes monitorear tu negocio desde cualquier lugar y acceder a la informacion en tiempo real.</h3>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-md-4">
				<span>Colocar glyphicon</span>
				<h4>Cualidad 1</h4>
				<p>Texto cualidad 1</p>
			</div>
			<div class="col-md-4">
				<span>Colocar glyphicon</span>
				<h4>Cualidad 2</h4>
				<p>Texto cualidad 2</p>				
			</div>
			<div class="col-md-4">
				<span>Colocar glyphicon</span>
				<h4>Cualidad 3</h4>
				<p>Texto cualidad 3</p>
			</div>
		</div>
	</div>

	
</section>