
<div class="container">

Esta es la pagina de bienvenida para la aplicacion!!

<%= link_to 'Log In', new_user_session_path, class: "btn boton btn-warning" %>
<%= link_to 'Sign Up', new_user_registration_path, class: "btn boton btn-warning" %>

</div>