<div class="container">
	<p class="text-center">Actualmente cuenta con <%= @tables%> mesas en servicio</p>
	<div class="row">
		<div class="col-md-12 col-md-offset-1">
			<% (1..@tables).each do |i| %>			
				<div class="item text-center" id="mesa">
			  	<div class="col-md-2 text-center <%= table_class(i) %>">
						<%= recovery_order(i) %>
			  	</div>
				</div>
			<% end %>
    </div>	
		</div>
	</div>	
</div>


<!-- 
:inprocess, :ready, :kitchen, :checking, :done -->