<div class="container" id="orders">
	<h1 class="text-center"><%= current_user.establishment.name %> - <%= @tables%> mesas en servicio</h1>
	<div class="row">
		<% (1..@tables).each do |i| %>			
			<div class="item text-center col-lg-3 col-md-2 col-xs-4" id="mesa">
			  	<div class="text-center <%= table_class(i) %>">
						<%= recovery_order(i) %>
			  	</div>
			</div>
		<% end %>
	</div>	
</div>