<div class="container">
	<div class="row">
		<div class="row">
			<div class="col-md-6 text-center">
				<h2 id="order_title">AGREGAR PRODUCTO A LA MESA <%= @mesa %></h2>
				<div id="categorie_options">
					<% @categories.each do |c| %>
						<%= link_to "#{c.name}", products_by_categorie_path(:categorie => "#{c.name}"), :class => 'btn pos_button_blue order_categorie', remote: true %>	
					<% end %>
				</div>
				<div id="categorie_products" class="col-md-12">
				</div>
			</div>
			<div class="col-md-6 text-center">
				<h2 id="order_title">ORDEN ACTUAL</h2>
				<div id="order_products">					
				</div>
			</div>
		</div>
	</div>	
</div>